In [131]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from collections import Counter

In [98]:
data = pd.read_csv('Files/Day5.txt', header=None, sep=" ")
data = data.loc[:,[0,2]]
data.columns = ['Initial', 'Final']
data['Initial'] = data['Initial'].apply(lambda l: l.split(','))
data['Final'] = data['Final'].apply(lambda l: l.split(','))
data.head()

      Initial       Final
0  [409, 872]  [409, 963]
1  [149, 412]  [281, 280]
2  [435, 281]  [435, 362]
3   [52, 208]  [969, 208]
4  [427, 265]  [884, 265]

In [93]:
def create_range(init, final):
    return list(range(init, final + 1)) if init < final else list(reversed(range(final, init + 1)))

In [172]:
delta = []
direction = []

for _, row in data.iterrows():
    initial_x = int(row['Initial'][0])
    initial_y = int(row['Initial'][1])
    final_x = int(row['Final'][0])
    final_y = int(row['Final'][1])
    
    t_direction = 'diagonal'
    
    if initial_x == final_x:
        x_range = [initial_x] * (np.abs(final_y - initial_y) + 1)
        t_direction = 'flat'
    else:
        x_range = create_range(initial_x, final_x)

    if initial_y == final_y:
        y_range = [initial_y] * (np.abs(final_x - initial_x) + 1)
        t_direction = 'flat'
    else:
        y_range = create_range(initial_y, final_y)
    
    delta.append(list(zip(x_range, y_range)))
    direction.append(t_direction)

data['Delta'] = delta
data['Directon'] = direction
data.head()

,Initial,Final,Delta,Directon
0,"[409, 872]","[409, 963]","[(409, 872), (409, 873), (409, 874), (409, 875...",flat
1,"[149, 412]","[281, 280]","[(149, 412), (150, 411), (151, 410), (152, 409...",diagonal
2,"[435, 281]","[435, 362]","[(435, 281), (435, 282), (435, 283), (435, 284...",flat
3,"[52, 208]","[969, 208]","[(52, 208), (53, 208), (54, 208), (55, 208), (...",flat
4,"[427, 265]","[884, 265]","[(427, 265), (428, 265), (429, 265), (430, 265...",flat

In [171]:
# Testing 89,92 -> 884,887
initial_x = 779
final_x = 779
initial_y = 741
final_y = 738

if initial_x == final_x:
    x_range = [initial_x] * (np.abs(final_y - initial_y) + 1)
else:
    x_range = create_range(initial_x, final_x)

if initial_y == final_y:
    y_range = [initial_y] * (np.abs(final_x - initial_x ) + 1)
else:
    y_range = create_range(initial_y, final_y)
    
list(zip(x_range, y_range))

[(779, 741), (779, 740), (779, 739), (779, 738)]

In [181]:
# Part 1
flat_lines = data.loc[data.Directon == 'flat']
points = [item for sublist in flat_lines['Delta'] for item in sublist]
unique_points = list(set(points))

c = Counter(points)
non_unique_points = 0
for k in c.keys():
    if c[k] > 1:
        non_unique_points += 1
non_unique_points

7436

In [182]:
# Part 2
points = [item for sublist in data['Delta'] for item in sublist]
unique_points = list(set(points))

c = Counter(points)
non_unique_points = 0
for k in c.keys():
    if c[k] > 1:
        non_unique_points += 1
non_unique_points

21104