In [1]:
import pandas as pd

In [27]:
data = pd.read_table('Files/Day3.txt', header=None, dtype=str)
data.head()

              0
0  010101110000
1  010011000110
2  010101000011
3  111100100001
4  011100110101

In [33]:
data_f = data[0].tolist()
data_f[0:6]

['010101110000',
 '010011000110',
 '010101000011',
 '111100100001',
 '011100110101',
 '110001010101']

In [59]:
entries = len(data_f)
log = {}

for line in data_f:
    position = 0
    for bit in line:
        if str(position) not in log.keys():
            log[str(position)] = 0
        log[str(position)] += int(bit)
        position += 1

print(f'Number of digits: {len(log.keys())}')

Number of digits: 12

In [53]:
gamma = ''
epsilon = ''

for key in log.keys():
    if log[key] > entries/2:
        gamma += '1'
        epsilon += '0'
    else:
        gamma += '0'
        epsilon += '1'
        
print(f'Gamma: {gamma}, Epsilon: {epsilon}')

Gamma: 000110001010, Epsilon: 111001110101

In [54]:
gamma_i = int(gamma,2)
epsilon_i = int(epsilon, 2)

gamma_i * epsilon_i

1458194

In [116]:
# Split into a dataframe, then sum the columns.
data_split = pd.DataFrame([list(row) for row in data[0]])
data_sc = data_split.apply(pd.to_numeric).sum()
entries = data_split.shape[0]

gamma = ''
epsilon = ''

for entry in data_sc:
    if entry > entries/2:
        gamma += '1'
        epsilon += '0'
    else:
        gamma += '0'
        epsilon += '1'
        
print(f'Gamma: {gamma}, Epsilon: {epsilon}')

gamma_i = int(gamma,2)
epsilon_i = int(epsilon, 2)

gamma_i * epsilon_i

Gamma: 000110001010, Epsilon: 111001110101

1458194

In [185]:
oxygen_df = data_split.apply(pd.to_numeric).copy()
oxygen = ''

for i in range(data_split.shape[1]):
    print(oxygen_df.shape[0])
    if oxygen_df.shape[0] > 1:
        rounded_bit = 1 if oxygen_df[i].sum()/oxygen_df.shape[0] >= 0.5 else 0
        oxygen_df = oxygen_df[oxygen_df[i] == rounded_bit]
        oxygen += str(int(rounded_bit))
    else:
        oxygen += str(int(oxygen_df[i]))

1000
502
265
133
68
39
20
11
6
4
2
2

In [187]:
co2_df = data_split.apply(pd.to_numeric).copy()
co2 = ''

for i in range(data_split.shape[1]):
    print(co2_df.shape[0])
    if co2_df.shape[0] > 1:
        rounded_bit = 1 if co2_df[i].sum()/co2_df.shape[0] < 0.5 else 0
        co2_df = co2_df[co2_df[i] == rounded_bit]
        co2 += str(int(rounded_bit))
    else:
        co2 += str(int(co2_df[i]))
        
print(f'Oxygen: {oxygen} CO2: {co2}')

oxygen_i = int(oxygen,2)
co2_i = int(co2, 2)

print(f'Oxygen: {oxygen_i} CO2: {co2_i}')

oxygen_i * co2_i

1000
498
246
114
56
24
10
4
2
1
1
1
Oxygen: 001100010101 CO2: 111000000010
Oxygen: 789 CO2: 3586

2829354